#logo {
    position: relative;
    bottom: 0;
    background-color: black;
    align-items: center;
    width: 110%;
    line-height: 0px;
    margin-bottom: -13px;
    margin-left: -1cm;
    padding-left: 90px;
    margin-top: -8px;
}

hr {
    border-color: gold;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -16px;
}

#titulo h1 {
    display: inline;
    list-style: none;
    color: black;
    padding: 10px 40px;
}

#header ul {
    list-style: none;
    background-color: black;
    padding: 10px 500px;
    width: 100%;
    margin-left: -1cm;
    margin-top: -15px;
}

#header ul li {
    display: inline;
}

#header ul li a {
    display: inline-block;
    color: darkgray;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 0px;
}

#header ul li:last-child a {
    background-color: rgb(79, 57, 175);
}

body {
    background-color: darkgray;
    overflow-x:hidden;
}

#ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 230px 0px;
}

#oferta {
    margin-bottom: 20px;
    cursor: pointer;
}

#oferta p {
    background-color: darkgray;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    text-align: center;
}

#volta {
    padding: 10px;
    position: relative;
    bottom: 0;
    background-color: rgb(0, 0, 0);  
    line-height: 25px;
    width: 110%;
    margin-left: -1cm;
    padding-left: 50px;
    margin-bottom: -1cm;
}

#volta a {
    color: gold; 
    text-decoration: none;
}