@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#logo {
    position: relative;
    bottom: 0;
    background-color: black;
    align-items: center;
    width: 100%;
    line-height: 0px;
    margin-bottom: -13px;
}

#header ul {
    list-style: none;
    background-color: black;
    padding: 10px 500px;
    width: 90%;
}

#header ul li {
    display: inline;
}

#header ul li a {
    display: inline-block;
    color: darkgray;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 0px;
}

#header ul li:last-child a {
    background-color: rgb(79, 57, 175);
}

body {
    background-color: darkgray;
    overflow-x:hidden;
}

#menu ul {
    list-style: none;
    background-color: black;
    padding: 10px 250px;
    width: 100%;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline;
    color: darkgray;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 0px;
}

#titulo h1 {
    display: inline;
    list-style: none;
    color: black;
    padding: 10px 40px;
}

#ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 230px 0px;
}

#oferta {
    margin-bottom: 20px;
    cursor: pointer;
}

#oferta p {
    background-color: darkgray;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    text-align: center;
}

#produtitulo h1 {
    display: inline;
    list-style: none;
    color: black;
    padding: 10px 40px;
}

#produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 230px 0px;
}

#produto {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0px 15px;
}

#produto p {
    background-color: darkgray;
    color: black;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

footer {
    position:relative;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: darkgray;
    width: 100%;
    height: 30px;    
    text-align: center;
    line-height: 25px;
}

#info {
    background-color: black;
    text-align: center;
    color: darkgray;
}

#quem {
    background-color: black;
    color: darkgray;
    font-size: 20px;
    padding: 20px;
}

#text {
    display:flex;
    max-width: 1400px;
    padding: 0 10px;
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));
}
#text img {
    padding: 25px;
    border-radius: 50%;
}

#text p {
    text-align: center;
    padding: 20px 70px;
    margin-top: 130px;
}

#social{
    background-color: black;
}

#social p {
    display: flex;
}

#social p a {
    padding: 15px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: gold;
    margin-left: 370px;
}

#linguagens {
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));;
}

#linguagens p {
    font-size: 20px;
    padding: 15px;
}

#linguagens ul {
    margin-top: -30px;
    padding: 18px;
    font-size: 18px;
}

#frame {
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));;
}

#frame p {
    font-size: 20px;
    padding: 15px;
}

#frame ul {
    margin-top: -30px;
    padding: 18px;
    font-size: 18px;
}

#htm {
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));;
}

#htm p {
    font-size: 20px;
    padding: 15px;
}

#htm ul {
    margin-top: -30px;
    padding: 18px;
    font-size: 18px;
}

#ferramentas {
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));;
}

#ferramentas p {
    font-size: 20px;
    padding: 15px;
}

#ferramentas ul {
    margin-top: -30px;
    padding: 18px;
    font-size: 18px;
}

#git {
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));;
}

#git p {
    font-size: 20px;
    padding: 15px;
}

hr {
    border-color: gold;
}

#voltar {
    background-color: black;
}

#voltar a {
    display: inline-block;
    padding: 10px;
    color: gold;
}

#cont h1 {
    background-color: black;
    padding: 10px;
    color: darkgray;
    text-align: center;
}

#contma {
    font-size: 20px;
}

#contma p {
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));
    padding: 20px;
}

#volta {
    padding: 10px;
    position: relative;
    bottom: 0;
    background-color: rgb(0, 0, 0);  
    line-height: 25px;
    width: 100%;
}

#volta a {
    color: gold; 
}


.container {
    background-color: black;
    color: gold;
    padding: 20px;
    display: none;
}

.container p {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px 250px;
}

#tituh1 {
    text-align: center;
    background-color: black;
    color: darkgray;
}

#tituh21 {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient( to right, rgb(122, 85, 85), rgb(45, 65, 180));
}

#botão {
    text-align: center;
    background-color: black;
    color: gold;
}

.container1 {
    background-color: black;
    color: gold;
    padding: 20px;
    display: none;
}

.container1 p {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px 250px;
}

.container2 {
    background-color: black;
    color: gold;
    padding: 20px;
    display: none;
}

.container2 p {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px 250px;
}

.container3 {
    background-color: black;
    color: gold;
    padding: 20px;
    display: none;
}

.container3 p {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px 250px;
}

.container4 {
    background-color: black;
    color: gold;
    padding: 20px;
    display: none;
}

.container4 p {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px 250px;
}

.container5 {
    background-color: black;
    color: gold;
    padding: 20px;
    display: none;
}

.container5 p {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px 250px;
}

