@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#logo {
    position: relative;
    bottom: 0;
    background-color: black;
    align-items: center;
    width: 100%;
    line-height: 0px;
    margin-bottom: -13px;
}

#header ul {
    list-style: none;
    background-color: black;
    padding: 10px 500px;
    width: 90%;
}

#header ul li {
    display: inline;
}

#header ul li a {
    display: inline-block;
    color: darkgray;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 0px;
}

#header ul li:last-child a {
    background-color: rgb(79, 57, 175);
}

body {
    background-color: darkgray;
    overflow-x:hidden;
}

#menu ul {
    list-style: none;
    background-color: black;
    padding: 10px 250px;
    width: 100%;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline;
    color: darkgray;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 0px;
}

#titulo h1 {
    display: inline;
    list-style: none;
    color: black;
    padding: 10px 40px;
}

#ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 230px 0px;
}

#oferta {
    margin-bottom: 20px;
    cursor: pointer;
}

#oferta p {
    background-color: darkgray;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    text-align: center;
}

#produtitulo h1 {
    display: inline;
    list-style: none;
    color: black;
    padding: 10px 40px;
}

#produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 230px 0px;
}

#produto {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0px 15px;
}

#produto p {
    background-color: darkgray;
    color: black;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

footer {
    position:relative;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: darkgray;
    width: 100%;
    height: 30px;    
    text-align: center;
    line-height: 25px;
}
